name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.17

    - name: Setup Just
      uses: extractions/setup-just@v1

    - name: Install Go tools
      run: |
        go install -tags 'postgres' github.com/golang-migrate/migrate/v4/cmd/migrate@v4.15.1
        go install honnef.co/go/tools/cmd/staticcheck@v0.3.0
        go install github.com/kisielk/errcheck@v1.6.0

    - name: Start services
      run: |
        docker-compose up -d
        sleep 2s

    - name: Run migrations
      run: |
        just create-database authentication
        just create-database human_resources
        just migrate authentication up
        just migrate human_resources up
      
    - name: Lint
      run: just lint

    - name: Test
      run: just test

    - name: Build
      run: go build
