name: Main workflow

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  go_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: Setup Just
        uses: extractions/setup-just@v1

      - name: Install Go tools
        run: |
          go install -tags 'postgres' github.com/golang-migrate/migrate/v4/cmd/migrate@v4.15.1
          go install honnef.co/go/tools/cmd/staticcheck@v0.3.0
          go install github.com/kisielk/errcheck@v1.6.0

      - name: Start services
        run: |
          docker-compose up -d
          sleep 2s

      - name: Setup databases & Run migrations
        run: |
          just database authentication
          just database human_resources

      - name: Lint
        run: just lint

      - name: Test
        run: just test

      - name: Build
        run: go build

  webapp_build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: webapp/
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build webapp
        run: npm run build
